.entry--items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemAdd--button {
    margin: 10px 300px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    input {
        width: 300px;
    }

    .itemAdd--button {
        margin: 20px 10px;
    }
}